@tailwind base;
@tailwind components;
@tailwind utilities;

.blackBorder {
  /* border: 2px solid #000; */
  border-radius: 22px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.mainHome {
  padding: 40px;
  background: #fff;
}
.mainHome .mainHome__inner {
  padding: 40px;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.1);
  background: url("public/images/backgrounds/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.mainHome .mainHome__inner.dashboard {
  background: url("public/images/backgrounds/inner-bg.png");
}
.mainHome .mainHome__inner .mainHome__inner-header {
  background: #fff;
  padding: 20px 30px;
  border-radius: 100px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.mainHome .mainHome__inner .mainHome__inner-header .container {
  max-width: 100%;
  margin: 0 auto;
}
.mainHome .mainHome__inner .mainHome__inner-header .container .ullas-logo {
  margin-right: 30px;
}

.userSection {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background: #f87018;
  background: linear-gradient(
    90deg,
    rgba(248, 112, 24, 1) 0%,
    rgba(236, 72, 150, 1) 100%
  );
}
.userSection .userSection__left h1,
.userSection .userSection__left p {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.gameListHead {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 20px;
}
.backButton {
  max-height: 50px;
}





@media screen and (max-width: 991px) {
  .mainHome {
    padding: 15px;
  }
  .mainHome .mainHome__inner {
    padding: 0px 0px 70px 0px;
  }
  .mainHome .mainHome__inner .mainHome__inner-header .container img {
    height: 40px;
  } 
}

@media screen and (max-width: 600px) {
    
}
@media screen and (max-width: 991px) {
    .homeFooter .homeFooterLogos{
        flex-direction: column;
    }
    .userOptions {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background: #fff;
        display: flex;
        justify-content: center;
        z-index: 99;
        padding-top: 15px;
        box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    }
    
    .logoSection {
        justify-content: space-between;
        width: 100%;
    }
    .mainHome {
        padding: 0;
    }
    .mainHome .mainHome__inner {
        border-radius: 0px;
        padding: 0px 0px 70px 0px;
    }
     
    .mainHome .mainHome__inner .mainHome__inner-header {
        padding: 20px;
        border-radius: 0px;
    }
    .userOptions button svg {
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 600px) {
    
}
@media screen and (max-width: 480px) {
     
}
